#wp-location-share-map {
	padding-left: 5px;

	i.dashicons-location {
		vertical-align: middle;
		margin-bottom: 1px;
		color: #82878c;
	}
}

#wpls-google-map-container {
	height: 100%;

	.wpls-place-search {
		margin-top: 15px;
		border: 1px solid transparent;
		border-radius: 2px 0 0 2px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 32px;
		outline: none;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	}

	#wpls-map-search {
		background-color: #fff;
		font-size: 15px;
		font-weight: 300;
		margin-left: 20px;
		padding: 0 11px 0 13px;
		text-overflow: ellipsis;
		width: 80%;
	}

	.wpls-location-type-error {
		border: 2px solid red;
	}
}

#wpls-google-map {
	height: calc( 100% - 130px );
	margin: 15px 20px 20px;
}

#wpls-insert-map {
	float: right;
	margin-right: 20px;
	margin-left: 20px;
}

.pac-container {
	z-index: 999999 !important;

	.pac-item {
		cursor: pointer;
	}
}
