.wpls-add-location-button {
	.button {
		color: #555;
		border-color: #cccccc;
		background: #f7f7f7;
		box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
		vertical-align: top;
		display: inline-block;
		text-decoration: none;
		padding: 0 10px 1px;
		border-width: 1px;
		border-style: solid;
		border-radius: 3px;
		white-space: nowrap;
	}
}