#wp-location-share-map {
  padding-left: 5px;
}
#wp-location-share-map i.dashicons-location {
  padding-top: 3px;
  padding-right: 2px;
  color: #82878c;
}

#wpls-google-map-container {
  height: 100%;
}

#wpls-google-map {
  height: -webkit-calc( 100% - 100px );
  height: calc( 100% - 100px );
  margin: 30px 20px 20px 20px;
}

#wpls-insert-map {
  float: right;
  margin-right: 20px;
}
